.container {
  border-radius: 5px;
  display: flex;  
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 15px;
  overflow: hidden;
}

.container > div {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

.container > div.container-footer {
  padding-top: 10px;
  padding-bottom: 10px;
}

.container-title {
  text-align: center;
  font-weight: bold;
  font-size: x-large;
}

.container-content {
  text-align: center;
}

.container-footer {
  text-align: right;
}

.container-footer > .button{
  margin: .5rem;
  width: 80px;
}

@media screen and (max-device-width: 539px){
  .container {
    width: 90% !important;
  }
  .container-footer {
    text-align: center;
  }
  .container-footer > .button {
    display: block;
    margin-left: 0px;
    margin-right: 0px;
  }
  .container-footer > a.button {
    width: auto;
  }
  .container-footer > button.button {
    width: 100% !important;
  }
}
@media screen and (min-device-width: 540px){
  .container-footer {
    text-align: center;
  }
}
@media screen and (min-device-width: 1024px){
  .container-footer {
    text-align: right;
  }
}
